.mainDiv {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    padding-top: 25px;
    margin: 0 auto;
}
.currentInfoDiv {
    width: 50%;
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 0.089);
}
.forHeroDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    box-sizing: border-box;
}
.forHeroDiv p {
    text-align: left;
}
.imgList {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.listItem {
    position:relative;
    margin: 5px;
}
.listItemImage {
    width: 100px;
    height: 100px;
}
.btn {
    position: absolute;
    top: 0;
    right: 0;
}
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-items: center;
    background-color: rgba(95, 170, 95, 0.089);
}
.form input {
    width: 50%;
    margin-bottom: 20px;
}
.submitBtn {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}